<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <p th:replace="fragments::navbar"></p>

    <form method="post">
        <label>User:
            <select th:field="${blog.user}">
                <option th:each="user:${users}" th:text="${user.username}" th:value="${user.id}"></option>
            </select>
        </label>
        <label>Title:
            <input type="text" th:field="${blog.title}">
            <span th:errors="${blog.title}"></span>
        </label>
        <br/>
        <label>Add Content:
            <br/>
            <textarea th:field="${blog.content}" cols="50" rows="10"></textarea>
            <span th:errors="${blog.content}"></span>
        </label>
        <br/>
        <label>How are you feeling?
            <select th:field="${blog.status}">
                <option th:each="status:${statuses}" th:text="${status.text}" th:value="${status}"></option>
            </select>
        </label>
        <input type="submit" value="Post">
    </form>
</body>
</html>